
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Title -->
    <title>Notes Marketplace</title>

    <!-- Fevicon -->
    <link rel="shortcut icon" href="~/Content/images/Front_images/images/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap/bootstrap.min.css">

    <!-- Custome CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/css/responsive.css">

</head>

<body>

    <section id="change-password">

        <div class="container">

            <!-- Logo -->
            <div class="row justify-content-center">

                <div class="col-lg-6 col-md-8 col-sm-12 col-12 text-center logo-image">

                    <a href="/User/Index"><img src="~/Content/images/pre-login/top-logo.png"></a>

                </div>

            </div>

            <!-- Form content form class="form-container" method="post">-->
            <div class="row justify-content-center">

                <div class="col-lg-6 col-md-8 col-sm-12 col-12">

                    <div id="change-password-content">

                        @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-container" }))
                        {

                        <h2 class="text-center">Change Password</h2>
                        <p class="text-center para1">Enter your new password to change password</p>

                        <div id="form-ele">

                            <!-- Old Password -->
                            <div class="form-group">
                                <label class="mylabel" for="password1">Old Password</label>
                                <div class="wrapper">
                                    <input type="password" class="form-control" id="oldpassword" placeholder="Enter your old password" name="oldPassword" required>
                                    <img src="~/Content/images/pre-login/eye.png" alt="show" id="togglepassword1">
                                </div>
                            </div>
                            <p class="field-validation-error">@ViewBag.matchPassword1</p>

                            <!-- New Password -->
                            <div class="form-group">
                                <label class="mylabel" for="password1">New Password</label>
                                <div class="wrapper">
                                    <input type="password" class="form-control" id="newpassword" placeholder="Enter your new password" name="newPassword" required>
                                    <img src="~/Content/images/pre-login/eye.png" alt="show" id="togglepassword2">
                                </div>
                            </div>

                            <!-- Conform Password -->
                            <div class="form-group">
                                <label class="mylabel" for="password1">Confirm Password</label>
                                <div class="wrapper">
                                    <input type="password" class="form-control" id="confirmpassword" placeholder="Enter your comfirm password" name="conformPassword" required>
                                    <img src="~/Content/images/pre-login/eye.png" alt="show" id="togglepassword3">
                                </div>
                            </div>
                           <p class="field-validation-error"> @ViewBag.matchPassword</p>

                            <!-- Change password button -->
                            <button type="submit" class="btn btn-primary btn-lg btn-block change-password-btn text-uppercase text-center">submit</button>

                        </div>

                        }

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- JQuery All Files -->
    <!-- JQuery JS -->
    <script src="~/Scripts/js/jquery-3.5.1.min.js"></script>

    <script src="~/bundles/jqueryval"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custome JS -->
    <script src="~/Scripts/js/script.js"></script>


</body>

</html>
